@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* NAVEGAÇÃO DA PÁGINA EM RELAÇÃO AO MENU */
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------ */

/* NAVEGAÇÃO DO SCROL */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 136, 0);
}

/* ------------------------------------------------------------ */

/* MAIN */
main {
    width: 100%;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'Combo', cursive;

}


/* ------------------------------------------------------------ */

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(25, 79, 126);
    box-shadow: 0 2px 0 rgb(66, 66, 66);
    max-width: 100%;
    width: 100%;
}

/* ------------------------------------------------------------ */

/* MENU NAV-LIST */
.nav-list {
    display: flex;
    gap: 30px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: .9;
}

.nav-list a:hover {
    opacity: 1;
    border-bottom: 2px solid rgb(255, 136, 0);
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------------------ */

/* HOME */

#home {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
}

.home-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: justify;
    margin: 10%;
    top: 35px;
    background-color: rgb(236, 236, 236);
}

#home h2 {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    color: rgb(255, 136, 0);
}

.home-info img {
    display: flex;
    flex-direction: row-reverse;
    width: 28%;
    height: 20%;
    left: 395px;
    top: -140px;
}

/* ------------------------------------------------------------ */

/* HOSPITAIS */
#hospitais {
    border: 1px solid #e4e4e4;
    background-color: #cccbcb;
}

#hospitais h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

.hosp-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 3%;
    margin-top: 10%;
    grid-gap: 10px 150px;
    padding: 36px 78px;
    justify-content: space-between;
        background-color: rgb(236, 236, 236);
}

.info-hosp{
    background-color: rgb(255, 255, 255);
}

.hosp-info a {
    color: rgb(25, 79, 126);
}

.hosp-info img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

/* ------------------------------------------------------------ */

/* PRAÇAS */
#pracas {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
}

.info_pracas {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: justify;
    margin: 10%;
    top: 1px;
}

.pracas_info{
    background-color: rgb(236, 236, 236);
}
#pracas h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

.dados_pracas {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: justify;
    margin: 10%;
    top: 35px;
}


/* ------------------------------------------------------------ */

/* Galeria */
#galeria {
    border: 1px solid #e4e4e4;
    background-color: #cccbcb;
}

#galeria h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

.container_galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 3%;
    margin-top: 10%;
    grid-gap: 10px 150px;
    padding: 36px 78px;
    justify-content: space-between;
        background-color: rgb(236, 236, 236);
}

.item_galeria{
    position: relative;
}

.item_galeria .img_galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_galeria .img_galeria:hover{

}

.item_galeria .title_galeria{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 50%;
}


/* ------------------------------------------------------------ */

/* SHOPPINGS */
#shoppings {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-block-end: 10%;

}

.shopping-info h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

.container{
    background-color: #cccbcb;
}

/* shoppng Boulevard */
.img_Boulevard {
    float: left;
    left: 3.2%;
    margin: 2%;
    width: 90%;
    background-color: white;
}

.img_Boulevard img {
    width: 23%;
    border-radius: 50%;
    left: 5%;
    margin-top: 2%;
}

.img_Boulevard p{
    float: right;
    width: 50%;
    right: 278px;
    text-align: justify;
}

.img_Boulevard a{
    color: rgb(255, 136, 0);
}


/* shopping country */
.img_Country {
    float: right;
    right: 3.2%;
    margin: 2%;
    width: 90%;
    background-color: white;
}

.img_Country img {
    width: 23%;
    border-radius: 50%;
    margin-top: 3%;
}

.img_Country p {
    float: left;
    width: 50%;
    left: 8%;
    text-align: justify;
}

.img_Country a{
    color: rgb(255, 136, 0);
}

/* Shopping iguatemi */
.img_iguatemi {
    float: left;
    left: 3.2%;
    margin: 2%;
    width: 90%;
    background-color: white;
}

.img_iguatemi img {
    width: 23%;
    border-radius: 50%;
    margin-top: 2%;
    left: 5%;
}

.img_iguatemi p {
    float: right;
    width: 50%;
    right: 278px;
    text-align: justify;
}

.img_iguatemi a{
    color: rgb(255, 136, 0);
}


/* shopping Viva */

.img_Viva {
    float: right;
    right: 3.2%;
    margin: 2%;
    width: 90%;
    background-color: white;
}

.img_Viva img {
    width: 23%;
    border-radius: 50%;
    margin-top: 1%;
}

.img_Viva p {
    float: left;
    width: 50%;
    left: 8%;
    text-align: justify;
}

.img_Viva a{
    color: rgb(255, 136, 0);
}

/* shopping Walling */

.img_walling {
    float: left;
    left: 3.2%;
    margin: 2%;
    width: 90%;
    background-color: white;
}

.img_walling img {
    width: 23%;
    border-radius: 50%;
    margin-top: 2%;
    left: 5%;
}

.img_walling p {
    float: right;
    width: 50%;
    right: 278px;
    text-align: justify;
}

.img_walling a{
    color: rgb(255, 136, 0);
}

/* ------------------------------------------------------------ */


/* EFEITO PARA O BOTÃO DA HOME */
.efeito {
    border: none;
    color: #ffff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    text-decoration: none;
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.efeito1 {
    border: none;
    width: 150px;
    padding: 10px;
    background-color: rgb(25, 79, 126);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 2px 0 black;
    text-decoration: none;
}

.efeito1 a {
    color: white;
    text-decoration: none;
}

.efeito:hover {
    animation: bounce 1s;
}

/* ------------------------------------------------------------ */

/* MAP */
#mapa {
    border: 1px solid #e4e4e4;
    background-color: #cccbcb;
}

#mapa h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 250px;
    margin-top: 5%;
    display: flex;
    height: 80%;
    width: 60%;
    position: absolute;
    right: 10px;
    padding: 44px 0px;
}


/* ------------------------------------------------------------ */

/* CONTACT */
#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
}

.info_contato{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-top: 5%;
}

#contato h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: rgb(255, 136, 0);
}

#contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 58px 20px;
}

input,
textarea,
button {
    box-shadow: 0 1px 2px #ddd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

#contato form button {
    background-color: rgb(25, 79, 126);
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
}

#contato form button:hover {
    opacity: 1;
}

/* ------------------------------------------------------------ */

/* FOOTER */

footer {
    box-shadow: 0px -2px 0px 0px rgb(66, 66, 66);
    background-color: rgb(25, 79, 126);
    color: white;
    padding: 50px;
    text-align: center;
}

/* ------------------------------------------------------------ */


/* MEDIA QUIRIES */

@media screen and (max-width: 768px) {

    /* HOME */
    #home {
        top: 100px;
    }

    .home-info img {
        left: 350px;
        width: 40%;
    }
}


@media screen and (max-width: 1024px) {

    /* HEADER */
    header {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100px;
    }

    /* LOGO */
    .logo {
        left: 5px;
        margin: 10px;
        top: -8px;
    }

    /* HOME */
    .home-info {
        top: -50px;
    }

    .home-info img {
        display: flex;
        flex-direction: row-reverse;
        width: 22%;
        height: 20%;
        left: 566px;
        top: -200px;
    }

    /* SHOOPINGS */

    /* shoppng Boulevard */

    .img_Boulevard p {
        right: 127px;
        width: 60%;
    }

    /* shopping country */

    .img_Country img {
        left: 15%;
    }

    .img_Country p {
        right: 2px;
    }

    /* Shopping iguatemi */
    .img_iguatemi p {
        right: 127px;
    }

    /* shopping Viva */

    .img_Viva img {
        left: 15%;
    }

    .img_Viva p {
        right: 2px;
    }

    /* shopping Walling */

    .img_walling p {
        right: 127px;
    }

    /* MAP */
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 90%;
        width: 100%;
        position: absolute;
    }

    /* FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 0px -2px 0px 0px rgb(66, 66, 66);
        background-color: rgb(25, 79, 126);
        color: white;
        padding: 74px;
        text-align: center;
    }

}

@media screen and (max-width: 1280px) {

    /* HEADER */
    header {
        height: 103px;
        padding: 3px 32px;
    }

    /* HOME */
    .home-info {
        top: -61px;
    }

    .home-info img {
        left: 525px;
        top: -193px;
    }

    /* SHOOPINGS */

    /* shoppng Boulevard */

    .img_Boulevard p {
        right: 127px;
    }

    /* shopping country */

    .img_Country img {
        left: 15%;
    }

    .img_Country p {
        right: 2px;
    }

    /* Shopping iguatemi */
    .img_iguatemi p {
        right: 127px;
    }

    /* shopping Viva */

    .img_Viva img {
        left: 15%;
    }

    .img_Viva p {
        right: 2px;
    }

    /* shopping Walling */

    .img_walling p {
        right: 127px;
    }

    /* MAP */
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 80%;
        width: 100%;
        position: absolute;
    }
}
